@using Microsoft.AspNetCore.Components.Forms
@using TodoAppBlazorServer.Services;
@inject ITodoService _todoService;

<h3>Todo Item Form</h3>

<EditForm Model="@NewItem" OnSubmit="@ItemAdded">
    <div style="display: flex; align-items: center; width: 400px;">
        <div style="margin-right: 10px">Text:</div>
        <InputText @bind-Value="NewItem.Text" class="form-control" style="margin-right: 10px" id="Item" />
        <input type="submit" class="btn btn-primary" style="margin-right: 10px" value="Add" />
        <input type="reset" class="btn btn-secondary" value="Clear" />
    </div>
</EditForm>

@code {
    [Parameter]
    public required Action OnItemAdded { get; set; }

    private TodoItem NewItem = new TodoItem("");

    public void ItemAdded()
    {
        var NextItem = new TodoItem(NewItem.Text);
        NewItem.Text = "";
        _todoService.Add(NextItem);

        if(OnItemAdded != null)
        {
            OnItemAdded.Invoke();
        }
    }
}
